/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.b1	{	background-color: blue;	}
.b3 {  
border-height:50px;
background-color: lightblue;}
.b2
{   background-color: rgb(66,149,244);
	float:left;
	width:25%;
	height:25%%;
	display: inline-block;
}
 
.header
{
    height: 25%;
    background-color: black;
	
}


.footer
{
	background-color: white;
	text-align: center;
	height: 40px;
	padding: 5px;
	margin-bottom: 1em;
}

.footer_
{
	margin-top: -1em;
	margin-left: 1em;
	margin-right: 1em;
	display: inline-block;
}

.content
{
	margin-top:50px;
}

a:link  { color: black; text-decoration: none;}
a:hover { color: blue; }

tr
{
	text-align: center;
}

td
{
	text-align: center;
	font-size:24px;
	padding: 10px;
}

form
{   width: 300px;
	border-width: 0px;
	border-style:solid;
	border-color: black;
	border-radius: 20px;
	padding: 10px;
}
}

.dmenu
{
	width: 400px;
	border-radius: 25px;
	background: rgb(255,176,176);
	border-width: 2px;
	text-align: center;
	padding: 12px;
	overflow: hidden;
	height: 50px;
	font-size:22px;
}

label
{
	font-size: 24px;
}

input[type="text"], input[type="email"], input[type="password"]
{
	font-size:14px;
	border-radius:2px;
	border-style: solid;
	border-width: 2.5px;
	border-color: black;
}
.menu{
	margin-left: 120px;
}
.img>img{
width:400px;
max-width:100%;
max-width: 100%;

}
.dmenu:hover
{
	height:100px;
}

.dmenu>a
{    margin-left: 50px;
	display: block;
	width:100%;
	color:black;
	text-decoration: none;
}

.dmenu>a:hover
{
	background-color: white;
}

.search-box
{
	margin-top:0px;
}

.title
{
	margin-left:200px;
	padding-top:0px;
	color: black;
	font-size:40px;
	font-style:bold;
}


/*
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {  float: left;  }

li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.active { background-color: lightgreen;  }
li a:hover:not(.active) { background-color: #111; }

.b
{
	background-image: url(background.jpg);
	background-size: cover;
	height: 2000px;
	border-radius: 10px;
	padding: 6px;
	width: 1250px;
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.foot_support
{
	margin: 15px;
	width: 75%;
	border-style: double solid;
	border-color: blue;
	border-radius: 2em;
	background-color: lightgrey;
}
*/
