/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 
.header{
height:120px;
background-color:rgb(45,0,230);
}
td{

text-align: center;
font-size:24px;

}
.dmenu{


border-radius: 4px;
border-style: solid;
border-width: 1px;
border-color: blue;
text-align: center;
}

.dmenu{
position: fixed;
padding: 12px;
	overflow: hidden;

height: 50px;
	font-size:19px;
}
label{
	font-size: 24px;
}
input[type="text"],input[type="email"],input[type="password"]

{
font-size:24px;
border-radius:2px;
border-style: solid;
border-width: 1px;
border-color: grey;

}
.dmenu:hover{
height:150px;
}
.dmenu>a{
	display: block;
	width:100%;
	color:black;

text-decoration: none;

}
.dmenu>a:hover{
	background-color: grey;
}
                   



.search-box{

margin-top:40px;

}


.title{

margin-left:200px;
padding-top:0px;

font-size:64px;
font-style:bold;
}
