.bidsubmit
{
	width:190px;
	height: 35px;

}
.bluespan{

color:blue;
font-size:24px;
font-style: bold;
}
.countdown
{
	color:green;
	font-size: 25px;
}
.spanmessage{

color:green;
border-color: green;
font-size: 26px;
font-style: bold;
border-width: 4px;
width:400px;
height:50px;
border-radius: 5px;

}
.maxbidval{


}
.bidtable{
 

}
.biddertext{

	font-size: 20px;
	color:green;
font-style: bold;

}

.bidsame{

	padding:7px; border:#4e95f4 1px solid;
	
	background: #b8d1f3;
}
.bidother{

padding:7px; border:#4e95f4 1px solid;
	
	background: rgb(100,245,100		);	
}
.timer
{
	font-size: 30px;
	font-style: bold;
	color:green;
}

.searchregion
{
	margin-left: 0px;
}

.auctionimg>img
{
	max-height: 100%;
	max-width: 100%;
	margin-left: 40px;
	width: 400px;
}
.bidtable>th{
padding:8px;

}
.spangreen{
color:green;
font-size:45px;
font-style: bold;

}
.a-desc{



font-size: 18px;
font-style: italic;

}
.a-minbid{
font-size:25px;
font-style: bold;

}
.bidtable>td{

}
.auctionheading
{
	font-size:35px;
	width: 100%;
	text-align: center;
}
.auctiondetails
{
	


}
.search-product-details
{
	width:100%;
}

.auctionbox
{

	width: 100%;
	height:500px;
	float:left;

}

.auctionfloat
{ float:left;
width:35%;
}

.search1
{
	height: 130px;
}

.search-product-image
{
	width:20%;
	 
}

.search-product-details
{
	width: 60%;
	 
}

.search-product-image>img
{
	max-height: 100%;
	max-width: 100%;
	width: 200px;
}

.search-product-detail-item
{
	font-size:18px;
	width:70%;
	padding: 0px;
}

.search-item1
{
width:80%;
}


.sp-property
{
	color:black;
}

.sp-key
{
	color:green;
}

.auctionpageimg
{
	max-width: 100%;
	max-height: 100%;
}