.img>img
{
  max-width:100%;
  max-height:100%;
  height:auto;
}

th
{
  padding-top: 50px;
  padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 80px
}

.card
{
  border: 2px;
  border-radius: 8px;
  max-width: 70%;
  margin: auto;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #888888; 
  text-align: center;
  font-family: arial;
}

.card1
{
  padding: 0.5em;
  border: 2px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px black;
  max-width: 700px;
  margin: auto;
  background-color: white;
  text-align: center;
  font-family: arial;
}


