<div class="footer">
 <ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#faq">FAQ</a></li>
  <li><a href="#google">Google</a></li>
  <li><a href="#privacy">Privacy and Terms</a></li>
  <li><a href="#blog">Blog</a></li>
  <li><a href="#brand">Brand Center</a></li>
  <li><a href="#touch">Get In Touch</a></li>
  <li><a href="#features">Features</a></li>
</ul>
</div>