<script src="https://cdn.auth0.com/js/auth0/8.8/auth0.min.js"></script>
<script type="text/javascript">
  var webAuth = new auth0.WebAuth({
    domain: 'online-auc.auth0.com',
    clientID: 'HmxEYWKctGnELFKJwWxwqJzeZHSGi5NV',
    redirectUri: 'https://localhost:3000/auth/callback',
    audience: 'https://online-auc.auth0.com/userinfo',
    responseType: 'code',
    scope: 'openid profile',
    state: '<%= get_state %>'
  });

  function signin() {
    webAuth.authorize();
  }

</script>

<div class="row justify-content-center">
  <div class="col-lg-5">
    <h4>Be a Part of this website.</h4>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-5">
    <a class="btn btn-primary" onclick="signin();">REGISTER using Google Account</a>
  </div>
</div>