
<div class="row justify-content-center">
<div class="col-lg-9">
<h1>Registration Successfully completed</h1>

<h4>Email Verification Link is sent to mail</h4>
<p >Please Click Link to Verify your email</p>
<p> Users can upload Items for auction only after User verification By Admin</p> 
</div>
</div>