<center>
	<form>
		<h2>Registration Completed Successfully...!</h2><br/>
		<h3>Email Verification Link Has Been Sent To Registered Email Id</h3>
		<h3>Please Click Verification Link Sent To Verify Your Email</h3>
		<h4>Note : Users Can Add Products For Auction Only After User Verification By Admin</h4>
	</form>
</center>
