<center>
	<form>
		<center>
			<br/>
			<div style="color: red;">
				<h3>Notice : Admin has not verified Your User Account.</h3>
				<h4>You Can Add Product After Verification.</h4>
			</div>
			<br/>
		</center>
	</form>
</center>

